<h2>Login Form</h2>

<form>
    <div class="imgcontainer">
        <img src="img/batman_avatar.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label><b>Username</b></label>
        <input 
            ng-model="$ctrl.user.username"
            type="text" 
            placeholder="Enter Username" 
            name="uname" required>

        <label><b>Password</b></label>
        <input 
            ng-model="$ctrl.user.password"
            type="password" 
            placeholder="Enter Password" 
            name="psw" required>
        
        <button type="submit" ng-click="$ctrl.loginFunction()">Login</button>
        <input type="checkbox" checked="checked"> Remember me
    </div>
</form>