<!--
<div class="product-list">
    <ul>
        <li 
            ng-repeat="product in $ctrl.products"
            ng-if="product.categoryId == $ctrl.categoryx">
            {{product.brand}}
        </li>
    </ul>
</div>-->

<div class="product-container">
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search a Product" ng-model="searchProduct">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
            Id
            <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'brand'; sortReverse = !sortReverse">
            Brand 
            <span ng-show="sortType == 'brand' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'brand' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'model'; sortReverse = !sortReverse">
            Model
            <span ng-show="sortType == 'model' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'model' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
            Price
            <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#">
            Options
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="product in $ctrl.products | orderBy:sortType:sortReverse | filter:searchProduct"
          ng-if="product.categoryId == $ctrl.categoryx">
        <td>{{ product.id }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.model }}</td>
        <td>{{ product.price }}</td>
        <td>
            <button ng-click="$ctrl.editFunction(product)">Edit</button>
            <button ng-click="$ctrl.deleteFunction(product)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <modal-dialog show='$ctrl.deleteModalShown' width='500px' height='20%'>
      <p>Are you sure you want to delete this product?</p>
      <div>
        <button ng-click="$ctrl.cancelDeleteAction()">Cancel</button>
        <button ng-click="$ctrl.confirmDeteleAction()">Confirm</button>
      </div>
  </modal-dialog>

   <modal-dialog show="$ctrl.editModalShown" width='500px' height='400px'>
      <div>
      <h3>Edit Produt</h3>
      <form>
          <div class="container">
              <div>
                  <label><b>CategoryId</b></label>
                  <input type="number" 
                      ng-model="$ctrl.selectedProduct.categoryId">
              </div>

              <div>
                  <label><b>Brand</b></label>
                  <input type="text" 
                      ng-model="$ctrl.selectedProduct.brand">
              </div>

              <div>
                  <label><b>Model</b></label>
                  <input type="text" 
                      ng-model="$ctrl.selectedProduct.model">
              </div>

              <div>
                  <label><b>Price</b></label>
                  <input type="number" 
                      ng-model="$ctrl.selectedProduct.price">
              </div>
              
              <button class="login-button" type="submit" ng-click="$ctrl.editProduct()">Edit Product</button>
          </div>
      </form>
  </div>
  </modal-dialog>
</div>